:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-color: #FFFFFF;
    --modal-background-color: #FCFCFC;
    --modal-overlay-color: rgba(46, 47, 66, 0.4);
    --hero-background-color: rgba(46, 47, 66, 0.7);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    background-color: var(--white-color);
    color: var(--text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

textarea {
    resize: none;
}

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.visually-hidden {
    position: absolute;

    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ======= Generical ======= */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
    /* outline: 2px solid tomato; */
}

    @media screen and (min-width: 428px) {
        .container {
            width: 428px;
        }
    }

    @media screen and (min-width: 768px) {
        .container {
            width: 768px;
        }
    }

    @media screen and (min-width: 1158px) {
        .container {
            width: 1158px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }

.subtitle {
    margin-top: 0;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--dark-color);
}

.body-text {
    margin-top: 0;
    margin-bottom: 0px;

    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text-color);
}

/* ======= Header ======= */

.header {
    position: relative;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 16px;
}

@media screen and (min-width: 768px) {
    .header-nav-cont {
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .header-nav-cont {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* === Logo === */

.logo {
    display: block;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--dark-color);
}

.logo-web {
    color: var(--primary-brand-color);
}

/* === Navigation === */

.menu-toggle {
    display: inline-flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;

    cursor: pointer;

    background-color: var(--accent-color);
    fill: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button:hover,
.menu-close-button:focus {
    border-color: transparent;
    background-color: var(--pressed-state-color);
    fill: var(--white-color);
}

@media screen and (min-width: 768px) {
    .menu-close-button {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .menu-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 999;

        top: 0;
        left: 0;
        padding: 80px 0 40px 40px;

        background-color: var(--white-color);
        overflow-y: scroll;

        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }
}

@media screen and (max-width: 767px) {
    .menu-container.is-open {
        transform: translateX(0);
        }
}

@media screen and (min-width: 768px) {
    .menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 118px;
    }
}

@media screen and (min-width: 1158px) {
    .menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 332px;
    }
}

.nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 284px;
}

@media screen and (min-width: 768px) {
    .nav-item {
        margin: 0;
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .menu-list {
        flex-direction: row;
        gap: 40px;
    }
}

.menu-link {
    display: block;
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--dark-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .menu-link {
        padding-top: 18px;
        padding-bottom: 18px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1158px) {
    .menu-link {
        padding-top: 24px;
        padding-bottom: 24px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
}

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state-color);
}

.studio-active-link,
.portfolio-active-link,
.contacts-active-link {
    position: relative;
    color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
    .studio-active-link::after,
    .contacts-active-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
    
        width: 100%;
        height: 4px;
    
        background-color: var(--pressed-state-color);
        border-radius: 2px;
    
        transform: translate(-50%);
    }
    
    .portfolio-active-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    
        width: 78px;
        height: 4px;
    
        background-color: var(--pressed-state-color);
        border-radius: 2px;
    }
}

/* === Contacts === */

.cont-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .cont-list {
        flex-direction: column;
        gap: 4px;
    }
}

@media screen and (min-width: 1158px) {
    .cont-list {
        flex-direction: row;
        gap: 40px;
    }
}

.cont-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
    .cont-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1158px) {
    .cont-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


.cont-link:hover,
.cont-link:focus {
    color: var(--pressed-state-color)
}

.cont-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-brand-color);
    text-transform: capitalize;
}

@media screen and (max-width: 479px) {
    .cont-tel {
        font-size: 7vw;
    }
}

@media screen and (min-width: 768px) {
    .cont-tel {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: var(--text-color);
    }
}

@media screen and (min-width: 1158px) {
    .cont-tel {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.cont-icon-list {
    display: flex;
    gap: 56px;
    margin-top: 48px;
}

@media screen and (max-width: 479px) {
    .cont-icon-list {
        gap: 10vw;
    }
}

@media screen and (min-width: 768px) {
    .cont-icon-list {
        display: none;
    }
}

/* ======= Studio ======= */

/* === Hero section === */

.hero {
    padding-top: 112px;
    padding-bottom: 112px;

    text-align: center;

    background-color: var(--dark-color);
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 108px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

.hero-background {
    max-width: 1600px;
    margin: 0 auto;

    background-image: linear-gradient(to right, var(--hero-background-color), var(--hero-background-color)), url("../images/hero-background-mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero-background{
    background-image: linear-gradient(to right, var(--hero-background-color), var(--hero-background-color)), url("../images/hero-background-mob@2x.jpg");
    }
}

@media screen and (min-width: 480px) {
    .hero-background {
        background-image: linear-gradient(to right, var(--hero-background-color), var(--hero-background-color)), url("../images/hero-background-tab.jpg");
    }

    @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .hero-background {
            background-image: linear-gradient(to right, var(--hero-background-color), var(--hero-background-color)), url("../images/hero-background-tab@2x.jpg");
        }
    }
}

@media screen and (min-width: 768px) {
    .hero-background {
        background-image: linear-gradient(to right, var(--hero-background-color), var(--hero-background-color)), url("../images/hero-background-des.jpg");
    }

    @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .hero-background {
            background-image: linear-gradient(to right, var(--hero-background-color), var(--hero-background-color)), url("../images/hero-background-des@2x.jpg");
        }
    }
}

.hero-title {
    margin-top: 0;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .hero-title {
        width: 496px;
        margin-bottom: 40px;

        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.modal-button {
    width: 170px;
    padding: 16px 32px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    cursor: pointer;

    background-color: var(--primary-brand-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--pressed-state-color);

}

/* === Section === */

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--dark-color);
}

/*  === Features === */

.features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.features-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .features-item {
        width: 356px;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .features-item {
        width: 264px;
    }
}

.features-icon {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    background-color: var(--light-color);
    border-radius: 4px;
}

@media screen and (max-width: 1157px) {
    .features-icon {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: start;
    }
}

@media screen and (max-width: 1157px) {
    .features-descr {
        font-weight: 500;
    }
}
/* === What are we doing === */

.doing-section {
    padding-bottom: 120px;
}

@media screen and (max-width: 1157px) {
    .doing-section {
        display: none;
    }
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-item {
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent-color);
}

/*  === Our Teaam === */

.team {
    background-color: var(--light-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .team-list {
        row-gap: 64px;
    }
}

.team-item {
    text-align: center;

    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-descr {
    padding: 32px 0;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}

.team-icon-link {
    display: block;
    width: 40px;
    height: 40px;
    padding: 12px;

    background-color: var(--primary-brand-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--pressed-state-color);
}

/* === Customers === */

.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
    }
}

.customers-link {
    display: block;
    padding: 13px 31px;

    color: var(--subtle-color);
    border: 1px solid var(--subtle-color);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    color: var(--pressed-state-color);
    border-color: 1px solid var(--primary-brand-color);
}

.customers-icon {
    fill: currentColor;
}

/* ======= Modal ======= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 96px;
    padding-right: 18px;
    padding-left: 18px;

    width: 100%;
    height: 100%;

    background-color: var(--modal-overlay-color);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal {
    transform: scale(0.9);
}

.modal {
    display: block;
    min-height: 579px;
    padding: 72px 16px 24px 16px;

    background-color: var(--modal-background-color);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        padding: 72px 24px 24px;
    }
}

.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;

    cursor: pointer;

    background-color: var(--accent-color);
    fill: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    border-color: transparent;
    background-color: var(--pressed-state-color);
    fill: var(--white-color);
}

.modal-title {
    margin-top: 0;
    margin-bottom: 14px;

    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field {
    position: relative;
    margin-bottom: 8px;
    width: 100%;
}

.form-icon {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);

    fill: var(--dark-color);
}

.modal-label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--subtle-color);
}

.modal-input {
    width: 100%;
    padding: 10px 34px;

    line-height: 1.12;
    letter-spacing: 0.01em;

    color: var(--dark-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.modal-textarea {
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    
    line-height: 1.12;
    letter-spacing: 0.01em;
    
    color: var(--dark-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.modal-input:focus,
.modal-textarea:focus {
    border-color: var(--primary-brand-color);
}

.modal-input:focus + .form-icon {
    fill: var(--primary-brand-color);
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.acception {
    position: relative;
    margin-bottom: 24px;
}

.acception-chekbox {
    appearance: none;
    position: absolute;
}

.acception-label {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;

    text-align: center;

    color: #757575;
}

.acception-label::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;

    background-color: var(--white-color);
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.acception-chekbox:checked + .acception-label::before {
    background-image: url("../images/svg/accept.svg");
    background-size: contain;
    background-origin: border-box;
    background-color: var(--pressed-state-color);
    border-color: transparent;
    border-radius: 2px;
}

.acception-link {
    color: var(--primary-brand-color);
    margin-left: 5px;
    text-decoration: underline;
}

/* ======= Footer ======= */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;

    background-color: var(--dark-color);
}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .footer-container {
        justify-content: flex-start;
        padding-left: 96px;
        padding-right: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 80px;
        padding: 0;
    }
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .footer-left {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-left {
        gap: 120px;
    }
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-color);
}

.footer-item {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-item {
        text-align: start;
    }
}

.footer-title {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--white-color);
}

.footer-descr {
    width: 264px;
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--accent-color);
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-icon-link {
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--success-color);
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
}

.subscribe-field {
    position: relative;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .subscribe-field {
        width: 264px;
    }
}

.subscribe-label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-input {
    width: 100%;
    padding: 8px 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

@media screen and (min-width: 768px) {
    .subscribe-input {
        width: 264px;
        margin-bottom: 0px;
    }
}

.subscribe-field:focus-within > .subscribe-label {
    visibility: hidden;
}

.subscribe-input:not(:placeholder-shown) + .subscribe-label {
    visibility: hidden;
}

.subscribe-button {
    width: 165px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;

    background-color: var(--primary-brand-color);
    color: var(--white-color);
    border-radius: 4px;
    border: 0px solid transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .subscribe-button {
        margin-top: 16px;
    }
}

.subscribe-button::after {
    content: '';
    width: 24px;
    height: 24px;

    background-image: url("../images/svg/subscribe.svg");
    background-repeat: no-repeat;
    background-size: contain;
    fill: var(--white-color);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--pressed-state-color);
}

/* ======= Portfolio ======= */

/* === Portfolio section === */

.portfolio-section {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .portfolio-section {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding-top: 96px;
        padding-bottom: 120px;
    }
}

/* === Filter list === */

.filter-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .filter-list {
        margin-bottom: 64px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .filter-list {
        margin-bottom: 72px;
    }
}

/* === Button === */

.button {
    padding: 12px 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    background-color: var(--light-color);
    color: var(--primary-brand-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--pressed-state-color);
    color: var(--white-color);
    border-color: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* === Portfolio list === */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    position: relative;

    flex-basis: 100%;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

.portfolio-link {
    position: relative;
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-thumb {
    position: relative;
    overflow: hidden;
}

.product-thumb::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';

    width: 100%;
    height: 100%;

    background-color: var(--primary-brand-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .product-thumb::before,
.portfolio-link:focus .product-thumb::before {
    transform: translateY(0%);
}

.product-descr {
    position: absolute;
    top: 0;
    left: 0;

    padding: 40px 32px;
    margin: 0;

    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--light-color);

    transform: translateY(260px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .product-descr,
.portfolio-link:focus .product-descr {
    transform: translateY(0%);
}

.portfolio-descr {
    padding: 32px 16px;

    border-right: 0.5px solid var(--light-color);
    border-left: 0.5px solid var(--light-color);
    border-bottom: 0.5px solid var(--light-color);
}